<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Min bet:</b>
  <%= @group.min_bet %>
</p>

<p>
  <b>Max bet:</b>
  <%= @group.max_bet %>
</p>

<p>
  <b>Start date:</b>
  <%= @group.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @group.end_date %>
</p>

<p>
  <b>Starting funds:</b>
  <%= @group.starting_funds %>
</p>

<p>
  <b>Join price:</b>
  <%= @group.join_price %>
</p>

<p>Rankings</b>
  <ol>
  <% for member in @memberships %> 
    <li>
      <%= link_to member.user.user, member.user %> 
      <% if member.is_admin%>
        (A)
      <% end %> @ $<%=member.funds%>


    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
