Events

<%@e.each do |e|%>
name: <%=e.name%><br/>
bet_by: <%=e.bet_by%><br/>
	<%e.teams.each do |t|%>
	Team:
	<ul>
 		<li>city: <%=t.city%></li>
 		<li>name: <%=t.name%></li>
 	</ul>
	<%end%>
	<%e.moneyLines.each do |m|%>
		<%=m.odds%><br/>
	<%end%>
<%end%>