<%= javascript_include_tag "chosen.jquery.min" %>
<%= stylesheet_link_tag "chosen" %>

Events
<br/>

<select data-placeholder="Your Favorite Football Team" style="width:350px;" class="chzn-select" multiple tabindex="6">
          <option value=""></option>
          <%@allTeams.each do |t|%>
          <option value="<%=t.id%>"><%=t.city%> <%=t.name%></option>
          <%end%>
        </select>
        <br/>
<%@events.each do |e|%>
<%= render :partial => "event/singleFind", :locals => {:e => e} %>
<%end%>

