<%= javascript_include_tag "chosen.jquery.min" %>
<%= stylesheet_link_tag "chosen" %>

Events
<br/>

<select id="sports-category-select" data-placeholder="Select Sports Category" style="width:350px;" class="chzn-select" multiple tabindex="6">
	<option value=""></option>
	<%@allSportsCat.each do |sc|%>
	<option value="<%=sc.id%>"><%=sc.name%></option>
	<%end%>
</select>
<select id="sports-select" data-placeholder="Select Sports" style="width:350px;" class="chzn-select" multiple tabindex="6">
	<option value=""></option>
	<%@allSports.each do |s|%>
	<option value="<%=s.id%>"><%=s.name%></option>
	<%end%>
</select>
<select id="team-select" data-placeholder="Select Teams" style="width:350px;" class="chzn-select" multiple tabindex="6">
	<option value=""></option>
	<%@allSports.each do |s|%>
  <optgroup label="<%=s.name%>">
    <%s.teams.each do |t|%>
      <option value="<%=t.id%>"><%=t.city%> <%=t.name%></option>
    <%end%>
  </optgroup>
	<%end%>
</select>
<br/>

<div id="results">
	<%= render :partial => "event/results", :locals => {:events => @events}%>
</div>