<%=@User.name%>

<h1>Groups</h1>
<% @Memberships.each do |m| %>
<h2><%= m.group.name %></h2>
<ul>
	<li><%= m.funds %></li>
	<% if m.is_admin %>
	<li>Admin</li>
	<% end %>
</ul>
<% end %>

<h2>Bets</h2>
<% @Bets.each do |b|%>
<ul>
	<li>Event: <%=b.moneyLine.event.name%></li>
	<li>Amount:<%=b.amount%></li>
	<li>Team: <%=b.moneyLine.team.name%></li>
	<li>Odds: <%=b.moneyLine.odds%></li>

</ul>
<% end %>